---
title: OKFestival 2014
---
<!DOCTYPE HTML>
<html>
  <head>
    <title>OKFestival 2014</title>

    <meta charset='utf-8'>
    <meta name='viewport' content='width=device-width,initial-scale=1'>
    <meta name='google-site-verification' content='GHFAPLXkY96GieylStCTRVJ-mGP2PfeBK8plth6w10o'>

    <link rel='shortcut icon' type='image/png' href='{% url_for_image favicon.png %}'>

    <link href='//fonts.googleapis.com/css?family=Gudea:400,700' rel='stylesheet' type='text/css'>
    {% include_css styles.css %}

    <!--[if lt IE 9]>
    <script src='//html5shiv.googlecode.com/svn/trunk/html5.js'></script>
    ![endif]-->
  </head>
  <body>
    <div class='container'>
      <h1 class='event-details vevent'>
        <strong class='summary'>OKFestival 2014</strong> will take place
        <strong>
          <abbr
            title='2014-07-15'
            class='dtstart'>
          15</abbr>&ndash;<abbr
            title='2014-07-18'
            class='dtend'>18</abbr>
          July</strong>, in
        <strong class='location'>Berlin, Germany</strong>.
      </h1>
      <p>
        <strong>OKFestival is back!</strong>
        Join us for the world's largest open knowledge event and celebrate the
        10th anniversary of the
        <a href='http://okfn.org/'>Open Knowledge Foundation</a>.
        While you wait for
        more details and our call for proposals, why not:
      </p>
      <ul>
        <li>
          <strong>Get thinking:</strong> what do you want to see and how can you make it happen?
        </li>
        <li>
          <strong>Get doing:</strong> ask your friends and colleagues to join in, or arrange satellite events for those who can't make it in person.
        </li>
        <li>
          <strong>Get sharing:</strong> talk with people
          <a href='//twitter.com/okfestival'>on Twitter</a>, on
          <a href='http://lists.okfn.org/mailman/listinfo/okfn-discuss'>okfn-discuss</a>, at
          <a href='http://www.meetup.com/OpenKnowledgeFoundation'>Meetups</a>,
          on
          <a href='//www.facebook.com/OpenKnowledgeFestival'>Facebook</a>,
          and whenever you speak with people about open knowledge!
        </li>
      </ul>
      <div class='blocks'>
        <div class='block left calendar'>
          <div class='block-inner'>
            <p><a href='okfestival2014.ics' class='icon icon-calendar'><span>Add to your calendar</span></a></p>
          </div>
        </div>
        <div class='block right signup'>
          <div class='block-inner'>
            <form action='http://okfn.us2.list-manage.com/subscribe/post?u=a3f1f88a62b23f51641693977&amp;id=1f7f114254' method='post' target='_blank'>

              <input class='email' type='email' value='' name='EMAIL' placeholder='email address' required autofocus>
              <input class='submit btn btn-primary' type='submit' name='submit' value='Sign up!'>
            </form>
            <p class='explainer'>Sign up to be notified about OKFestival</p>
          </div>
        </div>
        <div class='block left'>
          <div class='block-inner'>
            <p><a href='//twitter.com/okfestival' class='icon icon-twitter'><span>@okfestival + #okfest14</span></a></p>
          </div>
        </div>
        <div class='block right'>
          <div class='block-inner'>
            <p><a href='//www.facebook.com/OpenKnowledgeFestival' class='icon icon-facebook'><span>OpenKnowledgeFestival</span></a></p>
          </div>
        </div>
      </div><!-- /.blocks -->
    </div><!-- /.container -->

    <footer>
      <p>
        Icons: <a href='http://thenounproject.com/noun/calendar/#icon-No404'
          target='_blank'>Calendar</a> from The Noun Project, and <a
          href='http://thenounproject.com/noun/facebook/#icon-No20845'
          target='_blank'>Facebook</a> designed by <a
          href='http://thenounproject.com/Luboš%20Volkov' target='_blank'>Luboš
          Volkov</a> from The Noun Project.
        <br>
        Photograph: <a
          href='https://secure.flickr.com/photos/bbmexplorer/5273398585/'
          target='_blank'>Berlin Cathedral</a> by <a
          href='https://secure.flickr.com/photos/bbmexplorer/'
          target='_blank'>Rob</a> on <a href='https://secure.flickr.com/'
          target='_blank'>Flickr</a>.
      </p>
    </footer>

    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-33874954-20', 'okfestival.org');
      ga('send', 'pageview');
    </script>
  </body>
</html>
